<!DOCTYPE html>
<html>

<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/lib/w3-theme-indigo.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<body class="w3-theme-l4">

<div style="padding-bottom: 5%">
<div class="w3-bar w3-large w3-blue">


  <span class="w3-bar-item w3-hoverable">DSP Assigment 1 </span>
  
</div>
</div>
<center>

  <div class="w3-card-4" style = "max-width: 70%">
  
  
     <header class="w3-container w3-blue">
      <h1> <p class="w3-opacity"><b>Links to proccessed PDFs:</b></p></h1>
      
    </header>
  <div class="w3-container w3-content">

<ul class="w3-ul w3-hoverable w3-cenetred">
  {% for link in links %}

	<li><a href={{ link }}>{{ link }} </a></li>

   {% endfor %}
</ul>
</table>
</div>
</center>

</body>
</html>
